<form [formGroup]="contactForm" (submit)="saveUser()">
  <!-- <label for="name">Name</label> -->

  <div class="row">
    <input class="col-md-9" formControlName="name" id="name" placeholder="Name" />
    <app-controll-messages class="col-md-3" [control]="contactForm.get('name')"></app-controll-messages>
  </div>

  <!-- <label for="email">Email</label> -->
  <div class="row">
    <input class="col-md-9" formControlName="email" id="email" placeholder="Email" />
    <app-controll-messages class="col-md-3" [control]="contactForm.get('email')"></app-controll-messages>
  </div>


  <div class="row">
    <input class="col-md-9" formControlName="subject" id="subject" placeholder="Subject" />
    <app-controll-messages class="col-md-3" [control]="contactForm.get('email')"></app-controll-messages>
  </div>

  <!-- <label for="profile">Profile Description</label> -->

  <div class="row">
    <textarea class="col-md-9" formControlName="profile" placeholder="Message" id="profile"></textarea>
    <app-controll-messages class="col-md-3" [control]="contactForm.get('profile')"></app-controll-messages>
  </div>


  <br>

  <div class="row">
    <button type="submit" [disabled]="!contactForm.valid">SEND MESSAGE</button>
  </div>
  <!-- <button type="submit" >Submit</button> -->
</form>
