$main-color: #1976d2;
$footer-color: #09c;
$main-text-color: white;
$text-color: black;
$background-color:#f3f4f6;

$resume-font: "Quicksand", Arial, sans-serif;
$resume-header-font: "Playfair Display", Georgia, serif;