@import '../../../assets//utilities/variables';

nav {
  padding: .5rem 0;
  background: #efefef;
  transition: none;
  min-height: 50px;
  display: flex;
  align-items: center;
  max-height: 80px;

  a {
    color: black
  }


  #logo {
    h4 {
      text-align: center;
    }
  }


  .active {
    color: red;
  }

  a:hover {
    color: blue;
  }



}
