@import '../../../assets/utilities/variables';


.info-1 {

  // margin-top: 50px;

  .left {

    position: relative;

    div {
      // position: absolute;
      padding-top: 50%;
      bottom: 0;
      left: 0;
      right: 0;
      height: 30%;
      margin: auto;
      max-width: 100%;

      #einstein-quote {
        font-style: normal;
        color: #c1c1c1;
        font-weight: 300;
        text-align: left;
      }

      #author-name {
        font-weight: bold;
        color: $text-color;
        font-family: 'Signika Negative', sans-serif;
        font-size: 4.25rem;

      }

      #author-role {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.2rem;
        color: $text-color;
      }
    }
  }

  .right {
    #main-img {

      padding-top: 40px;
      max-width: 100%;
    }
  }

}

.info-2 {
  padding-top: 45px;
  padding-bottom: 45px;
  margin-bottom: 45px;
  margin-top: 45px;
  background: linear-gradient(45deg, #a8d5f4, #ffb3f5);

  #send-btn {
    border-radius: 100px;
    border-color: #000000;
    color: #000000;
    border: 4px solid radius;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 1rem 3rem;
    border-width: 2px;
    cursor: pointer;



  }

  #send-btn:hover {
    color: #fff;
    background-color: #000000;
    // border-color: #285e8e;
    /*set the color you want here*/
  }
}

.info-3 {
  font-family: 'Signika Negative', sans-serif;
  font-size: 3rem;
  font-weight: 300;
}

.info-4 {
  margin-top: 50px;
  text-align: center;

  img {
    width: 100%;
    padding-bottom: 40px;
    height: 75%;
  }

  h5 {
    text-align: left;
    font-family: 'Signika Negative', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    font-size: 22px;
  }
}


.info-5 {
  background-color: #f9f9f9;
  padding-top: 50px;
  padding-bottom: 50px;

  .experience {
    display: flex;
  }

  strong {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
  }

  h1 {
    font-family: 'Signika Negative', sans-serif;
    font-size: 3rem;
    font-weight: 300;
  }

  ul > li {
    line-height: 2;
  }
}
