<div class="container-fluit column">
  <div class="info-1 container">
    <!-- <mat-slider min="1" max="100" step="1" value="1"></mat-slider> -->
    <div class="row">
      <div class="left col-sm-6">
        <div>
          <h5><span id="einstein-quote">
              Try not to become a man of success <br> but rather try to become a man of value.</span></h5>
          <p id="author-name">
            Son Bkt .
          </p>
          <p id="author-role">
            WEB DEVERLOPER
          </p>
        </div>
      </div>

      <div class="right col-sm-6">
        <img class="img-fluid" src="assets/images/home-page/two-man.jpg" alt="">
      </div>
    </div>
  </div>


  <section class="info-2">
    <div class="container">
      <div class="row justify-content-center">
        <div class="media-container-column col-12 col-lg-3 col-md-4">
          <div class=" align-left py-4">
            <a id="send-btn" class="btn btn-black-outline display-4">

              SEND ME A NOTE</a>
            <!-- <span id="send-btn">
              SEND ME A NOTE

            </span> -->
          </div>

        </div>
        <div class="media-container-column title col-12 col-lg-7 col-md-6">

          <h2 class="align-right py-4">CONTACT ME</h2>
        </div>

      </div>
    </div>
  </section>

  <section class="info-3 align-center">
    <p>My Works</p>
  </section>


  <section class="info-4">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <img src="assets/images/home-page/web-deverloper.jpg" alt="">
          <h5>Web Deverloper</h5>
        </div>
        <div class="col-sm-4">
          <img src="assets/images/home-page/bussiness-anayst.jpg" alt="">
          <h5>Bussiness Analyst</h5>
        </div>

        <div class="col-sm-4">
          <img src="assets/images/home-page/system-architecture.jpg" alt="">
          <h5>System Administrator</h5>
        </div>

      </div>
    </div>
  </section>


  <section class="info-5">
    <div class="container align-center justify-content-center">

      <h1>Working Experiences</h1>

      <br>
      <div class="experience offset-md-2 align-left">
        <ul>
          <li><strong>9/2012 - 6/2017 &nbsp; - </strong> Graduated in Posts and Telecommunications Institute of Technology.</li>
          <li>
            <strong>
              6/2017 - 9/2018 &nbsp; -
            </strong> Develop backend Nodejs at Vntrip OTA Company.
          </li>
          <li>
            <strong>
              9/2018 - Present&nbsp;-
            </strong> Develop backend Nodejs and frontend Angular at IEG Company.
          </li>
        </ul>

      </div>

    </div>
  </section>

</div>
